---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "base"
;

// INTRO FOUT
.wf-loading #Intro {
visibility: hidden;
}
.wf-active #Intro {
visibility: visible;
}





#campout-nav{
  right:-16em;
  @include breakpoint(l){
    right:0;
  }
}

.border-dotted{
  border-style:dotted;
  border-width:2px;
}
.number-node{
  width:4rem;
  height:4rem;
}


.pill-l.active, .pill-r.active, .button.active{
  background-color:$brown;
  color:$cream;
}



.bg-cover{
  background-size:cover;
}
.bg-center{
  background-position:center;
}
.bg-repeat{
  background-repeat:repeat;
}
.bg-repeat-x{
  background-repeat:repeat-x;
}
.bg-repeat-y{
  background-repeat:repeat-y;
}
.bg-repeat-none{
  background-repeat:none;
}

span.kern{
  letter-spacing:.02em;
}
