<div class="relative z4 measure mx-auto shadow-high relative">
  <div class="fit">
    <svg class="block fit width-100" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 600 200" enable-background="new 0 0 600 200" xml:space="preserve">
    	<path fill-rule="evenodd" clip-rule="evenodd" fill="#F1F2DA" d="M0,0v200h600V0H0z M300,130c-16.568,0-30-13.432-30-30
    		s13.432-30,30-30s30,13.432,30,30S316.568,130,300,130z"/>
        <path fill-rule="evenodd" clip-rule="evenodd" stroke="rgba(0,0,0,.25)" fill="#43362D" d="M300,60c-22.091,0-40,17.908-40,40s17.909,40,40,40
          s40-17.908,40-40S322.091,60,300,60z M300,115c-8.284,0-15-6.716-15-15s6.716-15,15-15s15,6.716,15,15S308.284,115,300,115z"/>
    </svg>
    <!-- <svg class="block absolute z2 top-0 fit width-100" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 600 200" enable-background="new 0 0 600 200" xml:space="preserve">


    </svg> -->
  </div>
  <div class="absolute top-0 width-100 cf p-m">
    <div class="col col-4 p-m">
        <svg>
          Camp Logo
        </svg>
    </div>
    <div class="col col-4 p-m">
      <!-- <div class="circle mx-auto border-brown shadow" style="width:4rem; height:4rem; border:1rem solid;">

      </div> -->
    </div>
    <div class="col col-4 p-m">
      <h4 class="caps bold">Permit</h4>
      <h3 class="condensed p-s"> #00000 </h3>
    </div>
  </div>
  <div class="bg-cream">
    <div class="cf text-center">
      <div class="col col-12 s-col-6 p-m">
        <h5 class="caps bold">Camper</h5>
        <p class="border-thin p-s"> test text. </p>
      </div>
      <div class="col col-12 s-col-6 p-m">
        <h5 class="caps bold">Location</h5>
        <p class="border-thin p-s"> test text. </p>
      </div>
    </div>
    <div class="p-m">
      <h5 class="caps bold">Destination</h5>
      <p class="border-thin p-s"> test text. </p>
    </div>

  <!-- Conditional Campout Link -->

  <!-- End Conditional -->
  <div class="text-left serif h3">
      <div class="p-m">
        <h5 class="caps bold"> Experience </h5>
        <p class="border-bottom-thin">
          test
        </p>
      </div>
      <div class="p-m">
        <h5 class="caps bold"> Bicycle </h5>
        <p class="border-bottom-thin">
          test
        </p>
      </div>
      <div class="p-m">
        <h5 class="caps bold"> Bike Camping Is </h5>
        <p class="border-bottom-thin">
          test
        </p>
      </div>
      <div class="p-m">
        <h5 class="caps bold"> Bucket List Destination </h5>
        <p class="border-bottom-thin">
          test
        </p>
      </div>
      <div class="p-m">
        <h5 class="caps bold"> Strangest Thing Seen Riding </h5>
        <p class="border-bottom-thin">
          test
        </p>
      </div>
    </div>
  </div>
</div>
